/* 
.favorites-page {
  background: linear-gradient(to bottom , rgb(0, 0, 0), rgb(115, 75, 2));
  padding: 20px;
}

.favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  min-height: 85vb;
  margin: 0 auto;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 10%;
  border-radius: 8px;
}

.favorites-page h1 {
  text-align: center;
  position: relative;
}

.favorites-page h1 {
  text-align: center;
  position: relative;
  background: linear-gradient(to bottom,  rgb(229, 11, 11), rgb(234, 135, 23));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.favorites-page h1 span {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.movie-details {
  margin-top: 10px;
}

.movie-poster {
  width: 250px; 
  height: 375px; 
}

.movie-titles {
  font-size: 20px; 
  font-weight: bold;
  margin-bottom: 10px;
  color: wheat;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.heart-icon {
  color: #ffffff;
  font-size: 34px;
  cursor: pointer;
padding: 10px
}
.magnify-glass-icon {
  color: #ffffff;
  font-size: 34px;
  cursor: pointer;
padding: 10px
}
.magnify-glass-icon:hover {
  color: #0055ff;
}

.heart-icon:hover {
  color: #ff0000;
}
.no-favorites {
  font-size: 38px;
  color: #555555;
  text-align: center;
  margin-top: 20px;
} */

.favorites-page {
  /* background: linear-gradient(to bottom, rgb(12, 46, 76) 0%, rgb(248, 74, 0) 100%); */
  /* background: linear-gradient(45deg, #332173, #000000); */
  background: linear-gradient(to bottom , rgb(0, 0, 0), rgb(115, 75, 2));
  padding: 20px;
}

.favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  min-height: 85vb;
  margin: 0 auto;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 10%;
  border-radius: 8px;
}

.favorites-page h1 {
  text-align: center;
  position: relative;
}

.favorites-page h1 {
  text-align: center;
  position: relative;
  background: linear-gradient(to bottom,  rgb(229, 11, 11), rgb(234, 135, 23));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.favorites-page h1 span {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.movie-details {
  margin-top: 10px;
}

.movie-poster {
  width: 250px; 
  height: 375px; 
}

.movie-titles {
  font-size: 20px; 
  font-weight: bold;
  margin-bottom: 10px;
  color: wheat;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.heart-icon {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;

}
.magnify-glass-icon {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;

}

.magnify-glass-icon:hover {
  color: #0055ff;
  font-size: 3rem;
}

.heart-icon:hover {
  color: #ff0000;
  font-size: 3rem;

}
.no-favorites {
  font-size: 38px;
  color: #555555;
  text-align: center;
  margin-top: 20px;
}
