.movie-carousel-container{
    width: 100vw;
    background-color: black;
}
.movie-poster{
    height: 45%;
    border: 1px solid rgb(250, 220, 54);
    border-radius: 10px;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
        width: 80%;
    }

    @media only screen and (max-width: 600px) {
        width: 60%;
    }

    @media only screen and (max-width: 400px) {
        width: 40%;
    }
}
.movie-poster > img{
    height: 100%;
    width: 100%;

}
.movie-card-container{
    height: 75vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px; 
}
.movie-card{

    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), var(--img);
    background-position:  center ; 
}
 .movie-detail{
    position: absolute;
    top:100px;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.movie-title{
    background: linear-gradient(to right, #FFFFFF, #ff8800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    text-align: left;
}

.movie-buttons-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:200px;
}

.play-button-icon-container{
    margin:11px;
    width:50px;
}
.play-button-icon-container2{
    margin:-19px;
    width:50px;
}
.play-button-icon{
    color:white;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color:white;
}
.heart-icon-hero{
    margin-left: -150px;  
    color:white;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.heart-icon-hero:hover{
    font-size: 4rem;
    color: red;
}

@media only screen and (max-width: 800px) {
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top:20px;
    }
}